/* AppComponent's private CSS styles */
h1 {
  color: #999;
  margin-left: 165px;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  padding-top: 0;
}
.sidenav {
  height: 10%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.messages {
  height: 90%;
  width: 160px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  top: 10%;
}